In [3]:
import pandas as pd

df = pd.read_csv('C:\\Users\\vinis\\Desktop\\Programacao\\Ciencia-de-dados\\Siscom\\adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [41]:
# What is the average age of men?
average_age_men = (df[df['sex'] == 'Male']['age'].mean()).round(1)
average_age_men

39.4

In [46]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(len(df[df['education'] == 'Bachelors']) / len(df) * 100, 1)
percentage_bachelors

16.4

In [55]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = round(len(higher_education[higher_education['salary'] == '>50K']) / len(higher_education) * 100,1)
lower_education_rich = round(len(lower_education[lower_education['salary'] == '>50K']) / len(lower_education) * 100, 1)
lower_education_rich

17.4

In [59]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [75]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = (len(df[df['hours-per-week'] == min_work_hours]))
rich_percentage = round(len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')]) / num_min_workers * 100, 1)
rich_percentage

10.0

In [99]:
# What country has the highest percentage of people that earn >50K?
country_count = df['native-country'].value_counts()
country_count_rich = df[df['salary'] == '>50K']['native-country'].value_counts()
highest_earning_country = (country_count_rich / country_count * 100).idxmax()
highest_earning_country

'Iran'

In [101]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country_percentage = round((country_count_rich / country_count * 100).max(), 1)
highest_earning_country_percentage

41.9

In [106]:
# Identify the most popular occupation for those who earn >50K in India.
peoples_india = (df[(df['native-country'] == 'India') & (df['salary'] == '>50K')])
ocupation = peoples_india['occupation'].value_counts()
top_IN_occupation = ocupation.idxmax()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64